<div class="bg-warning" >{{x}}</div>

<a class="btn btn-primary"(click)="fmclick()">clickme</a>




<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://source.unsplash.com/random/560*300" height="400" width="100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/500*203" height="400" width="100" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/random/507*300" height="400" width="100" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
